.mat-toolbar {
    background-color: var(--color-toolbar-secondary);
}

.mat-toolbar > span {
    color: black;
    flex: 1 1 auto;
    text-align: center;
}

.pesquisas {
    background-color: var(--color-toolbar-secondary);
    padding-bottom: 5px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

.bi-search {
    color: var(--color-primary);
}

.icons {
    height: 15px;
}

.bi-plus-lg {
    color: var(--color-secondary);
}

.nome {
    text-overflow: ellipsis;
}

.content {
    background-color: var(--color-toolbar-secondary);
}

