.mat-toolbar {
    background-color: var(--color-toolbar-secondary);
}

.mat-toolbar > span {
    color: black;
    flex: 1 1 auto;
    text-align: center;
}

.pesquisas {
    background-color: var(--color-toolbar-secondary);
    padding-bottom: 5px;
}

.bi-search {
    color: var(--color-primary);
}

.icons {
    height: 15px;
}


.bi-plus-lg {
    color: var(--color-secondary);
}

.nome {
    text-overflow: ellipsis;
}

.content {
    background-color: var(--color-toolbar-secondary);
}


