<mat-toolbar>
    <span>Cadastro</span>
</mat-toolbar>

<div class="col-12 mt-2 mb-2">
    <form [formGroup]="usuarioForm">
        <div class="form-group" style="margin-bottom: 0.3em;">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Insira aqui seu nome" formControlName="Nome">
        </div>
        <div class="form-group" style="margin-bottom: 0px;">
            <label for="data" class="label-data">Data de nascimento</label>
            <mat-form-field appearance="legacy" class="datepicker-custom">
                <input matInput [matDatepicker]="picker" formControlName="DataNascimento" readonly [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Insira seu e-mail" formControlName="Email">
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" placeholder="Insira aqui sua senha"
                formControlName="Senha">
        </div>
        <div class="form-group">
            <label for="senha">Genero</label>
            <select class="form-control form-control-sm" id="genero" formControlName="SexoId">
                <option *ngFor="let sexo of sexos" [value]="sexo.SexoId">{{sexo.Descricao}}</option>
            </select>
        </div>
        <div class="buttons-group">
            <button type="submit" class="btn salvar" (click)="salvarUsuario()" [disabled]="usuarioForm.invalid">Salvar</button>
        </div>
    </form>
</div>