nav {
    background-color: var(--color-primary);
}


span {
    color: var(--color-secondary) !important;
}

a {
    color: #D3D3D3;
}

a:hover {
    color: #f6f6f6;
}


.active {
    color: var(--color-secondary);
    font-weight: 500;
    border-radius: 17%;
}

.icon {
    width: 32px;
}
